


.board-container {
    display: flex;
    background: ;
    overflow: auto;
}

.col-header {
    font-size: 24px;
}

.col-container {
    float: left;
    width: 100%;
    max-width: 400px;
    margin: 10px;
}



.board-menu {
    float: left;
    width: 100%;
    max-width: 320px;
    margin: 0;
    border-radius: 0!important;
}

.board-menu button {
    width: 100%;
}


