

.card-container {
    width: 100%;
    min-height: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;

    box-shadow: 1px 1px 4px #555;

    margin-bottom: 20px;
    cursor: pointer;


}

.card-container h2 {
    padding: 5px;
    font-size: 18px!important;
    overflow: auto;
    font-weight: normal;

}
.card-container h2 span {
    float: right;
}
.card-container p {
    padding: 0 10px;
    font-size: 14px;

}

.card-container h4 {
    text-align: center;
    font-size: 24px;
}
.newcard-btn:hover {
    background: #EBEBEB;
}


.user-panel {    
    overflow: auto;
    width: 90%;
    padding: 20px 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-panel h3 {
    width: 32px;
    height: 32px;

    text-align: center;
    border-radius: 100%;
    font-weight: bold;
    font-size: 20px!important;
    box-shadow: 2px 2px 4px #333;
    text-shadow: 1px 1px 0 #000;
    background: #ddd;
    color: #fff;
    border: 2px solid #333;
}
.user-panel span {
    display: flex;
    line-height: 32px;
}


.comments-count {
    font-weight: bold;

}


