


.card-container {
    margin: 10px 0;
/*     background: #fff!important; */
    background: #444;
    cursor: pointer;
    user-select: none;
}
.card-container:hover {
/*     background: #f5f5f5!important; */
    background: #444;
}

.card-info {
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000;
}


.new-card-btn {
    background: #fff!important;
    padding: 0!important;
    cursor: pointer;
    color: #333;
}
.new-card-btn:hover {
    background: #ddd!important;
}


.new-card-container input {
    padding: 0 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

